//@import "fontface.scss";
$orangColor: #edae44;
$btnColor: #61b82d;
$btnBorder: 3px solid #009a3c;
$white:#ffffff;
$black:#000000;
$mainSiteColor:#A60A07;
$headerColor:linear-gradient(90deg, lighten($mainSiteColor,70%) 0%, lighten($mainSiteColor,10%) 50%, lighten($mainSiteColor,2%) 80%, $mainSiteColor 100%);;
//learndash
/*div.learndash.learndash_post_sfwd-courses.user_has_no_access {
    margin-top: 100px;
}*/
#primary {
    margin: 6.1em 0 !important;
}

header.site-header,div.main-header-bar{
  background: $headerColor
}

div.elementor-tab-content{
  p{
    text-align: justify !important;
  }
}

#wellcome-message{
  animation-name: messageShake;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes messageShake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


div.ld-progress-percentage.ld-secondary-color,div.ld-progress-bar{
  display:none;
}


.woocommerce a.button, .woocommerce button.button, .woocommerce .woocommerce-message a.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce input.button, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover, .woocommerce #respond input#submit, .woocommerce button.button.alt.disabled, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link, .wc-block-grid__product-onsale {
  border-color: $mainSiteColor !important;
  background-color: $mainSiteColor !important;
}


@media only screen and (max-width: 400px) {
  #learndash-tooltips {
    left:0 !important;
  }
}

li.ieltwrtask{
  select#input_3_7{
    text-align: left !important;
    direction: ltr !important;
    >option{
      text-align: left !important;
      direction: ltr !important;
    }
  }
}

div.ast-below-header-wrap.ast-below-header-1{
  display:none
}