<table>
    <thead>
        <tr>
            <td>
موضوع پژوهش
            </td>
            <td>
محل ارائه / انتشار
            </td>
            <td>
تاریخ
            </td>
        </tr>
    </thead>
    <tbody>
        {% for lrr in lectureResearchRecords %}
            <tr>
                <td>{{ lrr.irlrsubject|e }}</td>
                <td>{{ lrr.irlrplacepresentation|e }}</td>
                <td>{{ lrr.irlrdate|e }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>
