<form method=post>
    <lable>
    API KEY
    </lable>
    <input type=text name=apikey>
    <lable>
    List ID
    </lable>
    <input type=text name=listid>
    <input type=submit value=Save>

</form>