<table>
    <thead>
        <tr>
            <td>
سمت
            </td>
            <td>
نام سازمان / شرکت
            </td>
            <td>
شرح
            </td>
            <td>
تاریخ
            </td>
        </tr>
    </thead>
    <tbody>
        {% for pb in professionalbackground %}
            <tr>
                <td>{{ pb.irpbposition|e }}</td>
                <td>{{ pb.irpbcompanyname|e }}</td>
                <td>{{ pb.irpbdesc|e }}</td>
                <td>{{ pb.irpbdate|e }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>
